<content>
	<div class="display">0</div>
	<div class="keypads">
		<div class="scientific">
			<div class="button" data-click="(">(</div>
			<div class="button" data-click=")">)</div>
			<div class="button" data-click="mc">mc</div>
			<div class="button" data-click="m+">m+</div>
			<div class="button" data-click="m-">m-</div>
			<div class="button" data-click="mr">mr</div>

			<div class="button" data-click="2nd">2<sup>nd</sup></div>
			<div class="button" data-click="x2">x<sup>2</sup></div>
			<div class="button" data-click="x3">x<sup>3</sup></div>
			<div class="button" data-click="xy">x<sup>y</sup></div>
			<div class="button" data-click="ex">e<sup>x</sup></div>
			<div class="button" data-click="10x">10<sup>x</sup></div>

			<div class="button" data-click="1/x">1/x</div>
			<div class="button" data-click="2sqrootx">2&Sqrt;x</div>
			<div class="button" data-click="3sqrootx">3&Sqrt;x</div>
			<div class="button" data-click="ysqrootx">y&Sqrt;x</div>
			<div class="button" data-click="ln">ln</div>
			<div class="button" data-click="log10">log<sub>10</sub></div>

			<div class="button" data-click="x!">x!</div>
			<div class="button" data-click="sin">sin</div>
			<div class="button" data-click="cos">cos</div>
			<div class="button" data-click="tan">tan</div>
			<div class="button" data-click="e">e</div>
			<div class="button" data-click="ee">EE</div>

			<div class="button" data-click="tad">Rad</div>
			<div class="button" data-click="sinh">sinh</div>
			<div class="button" data-click="cosh">cosh</div>
			<div class="button" data-click="tanh">tanh</div>
			<div class="button" data-click="pi">&pi;</div>
			<div class="button" data-click="rand">Rand</div>
		</div>
		<div class="basic">
			<div class="button" data-click="reset-display">AC</div>
			<div class="button" data-click="plus-minus">
				<sup>&#43;</sup>
				<sub>&ndash;</sub>
			</div>
			<div class="button" data-click="percentage">&#37;</div>
			<div class="button" data-click="operand" data-char="divide">&#247;</div>

			<div class="button" data-click="enter-digit" data-char="7">7</div>
			<div class="button" data-click="enter-digit" data-char="8">8</div>
			<div class="button" data-click="enter-digit" data-char="9">9</div>
			<div class="button" data-click="operand" data-char="multiply">&#215;</div>

			<div class="button" data-click="enter-digit" data-char="4">4</div>
			<div class="button" data-click="enter-digit" data-char="5">5</div>
			<div class="button" data-click="enter-digit" data-char="6">6</div>
			<div class="button" data-click="operand" data-char="subtract">&ndash;</div>

			<div class="button" data-click="enter-digit" data-char="1">1</div>
			<div class="button" data-click="enter-digit" data-char="2">2</div>
			<div class="button" data-click="enter-digit" data-char="3">3</div>
			<div class="button" data-click="operand" data-char="add">&#43;</div>

			<div class="button zero" data-click="enter-digit" data-char="0">0</div>
			<div class="button" data-click="comma">&#44;</div>
			<div class="button" data-click="equals">&#61;</div>
		</div>
	</div>
</content>
